* {
  font-family: "Haettenschweiler";
}

h3 {
  animation: move 2s ease-in-out;
  margin-bottom: 2px;
  line-height: 1.5;
  font-family: "Helvetica";
}

.subtitleAddTask {
  margin-bottom: 2px;
  padding-left: 2px;
  line-height: 1.5;
  animation: move 2s ease-in-out;
}
.subtitleAddTask:before {
  content: "\1F600";
  font-size: large;
}


@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes color {
  0% {
    color: orange;
  }
  50% {
    color: black;
  }
  100% {
    color: orange;
  }
}

h1 {
  margin-top: 3px;
  animation: move 2s ease-in-out;
  font-size: 1.6em;
  font-weight: bolder;
  font-family: "Helvetica";
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.sectionAddTask {
  background-color: rgb(34, 48,63);
  height: 21.9em;
}

.addTaskDiv {
  background-color: rgb(255, 255, 255);
  width: 40vw;
  height: 70vh;
  font-size: 80%;
  font-weight: bolder;
  margin-top: 3.8vh;
  opacity: 0.9;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 32vw;
  border: 2px solid white;
  border-radius: 18px;
  box-shadow: 0 0 20px white;
  background-color: #ccc;
  position: fixed;
  bottom: -100px; /* Start off the screen */
  left: 20%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  animation: slide-up 0.5s forwards;
}

.addTaskDiv label{
    padding-top: 5px;
    padding-bottom: 5px;
}
@keyframes slide-up {
  to {
    top: 0; /* Move up to the top of the screen */
  }
}

.formA {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.formA input {
  border: none;
  border-radius: 5px;
  height: 25px;
}

.formA button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 9px;
  height: 5vh;
}

.formA button:active {
  transform: scale(0.95);
}

.formA button:hover {
  border: 2px solid #ccc;
  color: rgb(34, 48, 63);
  background-color: rgb(249, 242, 207);
}

.formA select {
  font-size: 12px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  appearance: none;
  -moz-appearance: none;
  background-image: url("../assets/273-2739733_white-drop-down-arrow.png");
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
}

.formA select:hover {
  border: 2px solid #ccc;
  color: #24351f;
  opacity: 0.5;
  background-color: rgb(252, 237, 182);
}
