.timer{
    padding-top: 50px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}
button.with-text{
    width: auto;
    background-color:rgba(255,255,255,0.1);
    border-radius:10px;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 36px;
  }
  button.with-text svg{
    width: 36px;
    float:left;
    margin-right: 5px;
  }