:root{
    --red: #f54e4e;
    --green: #4aec8c;
  }
  .background{
    background: linear-gradient(133deg, #e4cd6d, #f0ae53, #dbbec7);
    background-size: 600% 600%;

    -webkit-animation: CSSGRADIENTANIMATOR 28s ease infinite;
    animation: CSSGRADIENTANIMATOR 28s ease infinite;
  }
  @-webkit-keyframes CSSGRADIENTANIMATOR {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes CSSGRADIENTANIMATOR {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
 

/*  #light {
    background: linear-gradient(133deg, #e4cd6d, #f0ae53, #dbbec7);
    background-size: 600% 600%;

    -webkit-animation: CSSGRADIENTANIMATOR 28s ease infinite;
    animation: CSSGRADIENTANIMATOR 28s ease infinite;
  }
  @-webkit-keyframes CSSGRADIENTANIMATOR {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}
@keyframes CSSGRADIENTANIMATOR {
    0%{background-position:0% 14%}
    50%{background-position:100% 87%}
    100%{background-position:0% 14%}
}

#dark{
    background: linear-gradient(140deg, #344b31, #855e0e, #6a3d3d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
} */
.TimerAndCalendar{
    display: flex;
    justify-content: space-evenly;

}

.timerArea{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 50vh;
   width: 15vw;
    background-color:rgb(34, 48, 63);
  color: #eee;
  padding: 10px;
    margin-top: 10vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px white;
}
.CircularProgressbar{
        width: 10vw;
        margin: 0 5px;

}
button.timerButton{
    background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 70px;
  margin: 0 50px;
  cursor: pointer;
}
button.with-text{
    width: auto;
    background-color:rgba(255,255,255,0.1);
    border-radius:10px;
    padding: 10px 20px;
    font-size: 1.4rem;
    line-height: 30px;
    
  }
  button.with-text svg{
    width: 36px;
    float:left;
    margin-right: 5px;
  }

  .timerAreaSettings{
    height: 30vh;
    width: 15vw;
    background-color:rgb(34, 48, 63);
    color: #eee;
    padding: 10px 20px;
      margin-top: 10vh;
      border-radius: 10px;
      box-shadow: 0 5px 15px white;
  }

  .slider{
    height: 35px;
    border: 2px solid var(--red);
    border-radius: 20px;
}

.thumb{
    background-color: var(--red);
    cursor:pointer;
    width:35px;
    height: 35px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid var(--green);
}
.slider.green .thumb{
    background-color: var(--green);
}

  .CalendarArea{
    display: flex;
    justify-content: center;
padding: 10vh;
   
  }

  .Calendar{
    background-color: white;
   width: 60vw;
   padding: 30px 30px;
   border-radius: 5%;
   box-shadow: 0 10px 25px white;
    
  }