* {
  font-family: "Haettenschweiler";
}

#main1 {
  background-color: rgb(250, 223, 176);
  width:100%;
  background-repeat: no-repeat;
  height: 21.9em;
  display: flex;
  justify-content: center;
  align-items: center;

}

.loginSection h2{
  color: rgb(34,48,63);
  margin-bottom: 30px;
}

h3 {
  animation: move 2s ease-in-out;
  margin-bottom: 2px;
  line-height: 1.5;
  font-family: "Helvetica";
}

.h3:before{
  content: "\1F600";
  font-size: large;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes color {
  0% {
    color: orange;
  }
  50% {
    color: black;
  }
  100% {
    color: orange;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.loginSection {
  background-color: white;
  width: 25vw;
  height: 58vh;
  font-size: 80%;
  font-weight: bolder;
  margin-top: 15vh;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid white;
  border-radius: 18px;
  box-shadow: 10px 10px 30px white;
  margin-bottom:70px;
  margin-left: 290px;
/*   position: fixed; */
  bottom: -100px; /* Start off the screen */
  left: 20%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for horizontal centering */
  animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
  to {
    top: 0; /* Move up to the top of the screen */
  }
}

.loginSection form {
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.loginSection input {
  display: block; /* to ensure the border wraps around the label text */
  border: 1px solid gray; /* the border style, width, and color */
  margin-bottom: 10px;
  padding: 6px; /* optional: adds some space between the border and the label text */
  height: 30px;
  border-radius: 5px;
}

.loginSection button {
  cursor: pointer;
  border:none;
  border-radius: 4px;
  margin-top: 9px;
  height: 8vh;
}

.loginSection button:active {
  transform: scale(0.95);
}

.loginSection button:hover {
  border: 2px solid #ccc;
  background-color: rgb(249, 242, 207);
}

.loginSection label {
  margin-bottom: 3px;
}
.log-signup-btn{
margin-top: 10px;
text-decoration: none;
color: black
}
