* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

.signupSection {
  background-image: url('../assets/giphyforsignup.gif');
  background-repeat: no-repeat;
  width: 100%;
  
}

h2 {
  color: white;
}

.signUpForm {
  width: 40vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: white;

  transition: 0.2s;
}

.inputSignup {
  height: 7vh;
  margin-top: 5px;
  margin-bottom: 6px;
}

.btnSignup {
  background-color: rgb(246, 221, 206);
  height: 3em;
  margin-top: 1.6em;
  border-radius: 10px;
  background-color: #e5d2a6;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.signupDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-decoration: double;
}
