footer {
    margin-top: 49vh;
    background-color: rgb(252, 208, 182);
    height: 14em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   }

.footer-img {
    
    width: 18em;
    position: absolute;
    bottom: 10vh;
  }

.footer-body{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;

}
  

