.nav-bar {
    background-color: rgb(34, 48, 63);
    padding: 14px 0;

  }

.nav-items{
    font-size: 1.2em;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcefef;
    color: white;
    margin-left: 20px;
  }

  .helloUser{
    color: white;
    margin: 0 20px;
  }

  nav > button{
    width: auto;
    border: 0;
    background-color: #d19a70;
    color: rgb(57, 57, 57);
    height: 40px;
    border-radius: 5px;
    letter-spacing: 0.7px;
    position: relative;
    left: 75vw;
    bottom: 5px;
  }

  .userImage{
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 75vw;
    margin-right: 15px;
  }